/* UTILS */
.text-silver {
  color: #fff9f9;
  text-shadow: 2px 0px 2px #000;
}

.text-silver-2 {
  color: #fff9f9;
  text-shadow: 2px 0px 2px #333, 0px 1px 2px #333;
}

/* Skeleton style */
#top {
  background: linear-gradient(#828282, #ffffff);
  height: 300px;
}

#profile {
  width: 300px;
  height: 300px;
  padding: 20px;
}
#profile img {
  width: 30%;
  border-radius: 50%;
}

#profile .word-amount,
#profile .user-level {
  width: 100%;
}
#profile .btn-logout {
  text-decoration: none;
  font-size: 20px;
}
#profile .btn-logout:hover {
  color: #eee;
}
/* Random game section */
#random-game {
  width: 70%;
}

#random-game p {
  font-size: 30px;
}

#random-game {
  position: relative;
}

#random-game .nerd img {
  width: 160px;
  position: absolute;
  top: 2%;
  left: 25%;
  z-index: 10000;
}
/* Aside-nav */
#aside-nav {
  background: linear-gradient(to bottom, #ffffff 1%, #828282 95%);
  height: 100%;
}

#aside-nav nav ul li {
  background: transparent;
  color: #000;
}

/* Dictionary section */
#register-form {
  width: 400px;
}

#words-collection {
  width: 50%;
  height: 200px;
  overflow-y: auto;
}

.delete-word {
  border: none;
  background: none;
  padding: 0;
}
.delete-word:focus {
  outline: 0;
}

/* carousel */
.carousel,
.carousel-item {
  width: 600px;
  height: 300px;
}

.carousel-caption {
  bottom: 30%;
}
#random-game .carousel-caption p {
  font-size: 16px;
}
.carousel-indicators .active {
  background: #eee;
}
.carousel-indicators li {
  border: 0;
  box-shadow: 2px 0px 2px #333, 0px 1px 2px #333;
}
