/* UTILS */
html {
  scroll-behavior: smooth;
}

body {
  background: #ececec;
  height: 100vh;
}

.auth-alert {
  margin: 0.5rem 0;
  opacity: 0.9;
  background: transparent;
  color: #333;
  text-shadow: unset;
}

.auth-alert-danger {
  color: var(--error-color);
}

.btn-silver {
  border: 0;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  font-weight: bold;
  color: #ececec;
  text-shadow: 1px 0 2px #333, 0 1px 2px #333;
}
.btn-silver:hover {
  box-shadow: 2px 1px 4px 1px #b3b3b3, -2px -1px 4px 1px #b3b3b3;
  color: #333;
  text-shadow: none;
}

.heading-silver {
  color: #bacdd4;
  font-weight: 700;
  text-shadow: 2px 1px 3px #000, 1px 1px 4px #131212, -3px 0px 2px #c0c0c0;
}

.text-silver {
  color: #fbfafd;
  text-shadow: 2px 0px 2px #000;
}

.text-silver-2 {
  color: #fbfafd;
  text-shadow: 2px 0px 2px #333, 0px 1px 2px #333;
}

.link-silver {
  color: #c8c8c8;
  text-shadow: 0px 0px 3px #000000;
  font-weight: bold;
}
.link-silver:hover {
  color: #c8c8c8;
}

.box {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 1px #ababab, 0px 0px 7px 7px #c6c6c6;
}

.box-silver {
  text-shadow: 2px 0px 0px #000000, 0px 1px 5px #000;
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
}

.box-silver-2 {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

/* Showcase */
#showcase {
  background-image: url('./img/landing-notes.png');
  background-repeat: no-repeat;
  background-size: 1100px;
  height: 100%;
}

#showcase .row {
  height: 650px;
}

#showcase h1 {
  margin-left: 5rem;
}

#showcase .label-img {
  width: 150px;
  margin-bottom: 1rem;
}

#register-form {
  width: 400px;
}

.auth-form-wrapper {
  border-radius: 5%;
  padding: 1.5rem;
  box-shadow: 4px 2px 5px 3px #c6c6c6, -3px -2px 5px 3px #c6c6c6;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

input:not([type='submit']) {
  background: #d3d3d3;
  color: #ececec;
  text-shadow: 1px 0 2px #333, 0 1px 2px #333;
}

input:not([type='submit']):focus {
  color: #ececec;
  text-shadow: 1px 0 2px #333, 0 1px 2px #333;
  background: inherit;
  box-shadow: unset;
}

input:not([type='submit'])::placeholder {
  color: #ececec;
  text-shadow: 1px 0 2px #333, 0 1px 2px #333;
}

/* FORM VALIDATION */
#register-form {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

#register-form .form-group {
  position: relative;
}

#register-form .form-group.success input:not([type='submit']) {
  border-color: var(--success-color);
}

#register-form .form-group.error input:not([type='submit']) {
  border-color: var(--error-color);
}

#register-form .form-group small {
  text-shadow: 1px 1px 1px #000, 0px 0px 1px #000;
  color: var(--error-color);
  position: absolute;
  bottom: -1rem;
  left: 0.9rem;
  visibility: hidden;
}

#register-form .form-group.error small {
  visibility: visible;
}

.showcase-footer {
  margin: 5rem 0 2rem 5rem;
  padding: 1rem;
}
.showcase-footer p {
  width: 80%;
}

/* About section */
#about {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url('./img/background-letters.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.3;
  filter: blur(5px);
}

#about .row:nth-child(odd),
footer {
  background: #ececec;
  box-shadow: 0 15px 50px 40px #ececec, 15px 0 50px 40px #ececec;
}

#about .col-sm-6 {
  height: 600px;
}
#about .about-demo,
#about .showcase {
  height: inherit;
}

.showcase img {
  width: 200px;
}

.showcase .demo {
  background: #fff;
  width: 500px;
}
.about-footer {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
}
#about .footer-img {
  display: block;
  width: 200px;
  margin: 0 auto;
}
/* Skeleton style */
#top {
  background: linear-gradient(#828282, #ececec);
  height: 300px;
}

#profile {
  width: 300px;
  height: 300px;
  padding: 20px;
}
#profile img {
  width: 30%;
  border-radius: 50%;
}

#profile .word-amount,
#profile .user-level {
  width: 100%;
}
#profile .btn-logout {
  text-decoration: none;
  font-size: 20px;
}
#profile .btn-logout:hover {
  color: #eee;
}
/* Random game section */
#random-game {
  width: 70%;
}

#random-game p {
  font-size: 30px;
}

#random-game {
  position: relative;
}

#random-game .nerd img {
  width: 160px;
  position: absolute;
  top: 2%;
  left: 25%;
  z-index: 10000;
}

/* carousel */
.carousel,
.carousel-item {
  width: 600px;
  height: 300px;
}

.carousel-caption {
  bottom: 30%;
}
#random-game .carousel-caption p {
  font-size: 16px;
}
.carousel-indicators .active {
  background: #eee;
}
.carousel-indicators li {
  border: 0;
  box-shadow: 2px 0px 2px #333, 0px 1px 2px #333;
}

/* Aside-nav */
#aside-nav {
  position: sticky;
  top: 30%;
  margin-top: 10%;
}

#aside-nav nav ul li {
  background: transparent;
  font-size: 1.5rem;
}
#aside-nav nav ul li a:hover {
  color: #fff;
}

/* Dictionary section */
/* Change game */
main .game {
  width: 100%;
  display: none;
}

main .game.game-active {
  display: flex;
}

/* main */
main {
  position: relative;
}

main .add-word {
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 4px 2px 5px 3px #c6c6c6, -3px -2px 5px 3px #c6c6c6;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

#vocabulary .fa-volume-up {
  color: #576574;
}

.words-collection ul li {
  background: transparent;
}

.words-collection {
  height: 500px;
  background: #fff;
  background-image: url('./img/letters3.png');
  background-repeat: no-repeat;
  overflow-y: auto;
  background-size: 60%;
  background-position: bottom;
  border-radius: 15px;
  box-shadow: 4px 2px 5px 3px #c6c6c6, -3px -2px 5px 3px #c6c6c6;
}

.fetch-vocabulary {
  width: 100%;
  height: 500px;
  font-size: 30px;
}

.delete-word {
  border: none;
  background: none;
  padding: 0;
}
.delete-word:focus {
  outline: 0;
}

/* Memory cards */
.cards {
  perspective: 1000px;
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
}

.main-card-container {
  margin: 0 auto;
}

.game-card {
  position: absolute;
  opacity: 0;
  font-size: 1.5em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.game-card.card-active {
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  transform: translateX(0) rotateY(0);
}

.game-card.left {
  transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.game-card.show-answer .inner-card {
  transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #fff;
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
  content: '\f021  Flip';
  font-family: 'Font Awesome 5 Free', 'Lato', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.navigation .nav-button {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.navigation p {
  margin: 0 25px;
}

/* Hangman game */
#hangman > div {
  background: #fff;
  width: 600px;
}

#hangman > div > p {
  color: #5b6467;
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #5b6467;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  color: #5b6467;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  color: #5b6467;
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  text-align: center;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 20px;
  position: absolute;
  bottom: -80px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.notification-container p {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

.notification-container.show {
  transform: translateY(-25px);
  opacity: 1;
}

/* SPEED TRANSLATION */
.start-container {
  margin-top: 5rem;
}
.speed-translate-container {
  display: none;
}
#speed-translation {
  position: relative;
}
#speed-translation button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 15px;
}

#speed-translation select {
  font-size: 1rem;
  width: 200px;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  background-color: #d3d3d3;
}
#speed-translation select:focus,
#speed-translation input:focus {
  outline: 0;
}

.settings {
  color: #5b6467;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#speed-translation .main-container {
  background-color: #fff;
  color: #5b6467;
  position: relative;
  text-align: center;
  padding: 1rem;
  width: 500px;
}

#speed-translation .main-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
  padding-bottom: 0.5rem;
  border-bottom-width: 1px;
  border-bottom-color: #5b6467;
  border-bottom-style: solid;
}

#speed-translation h3 {
  font-size: 1.3rem;
}

#speed-translation input {
  background-color: #555;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 1.2rem;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
}

#speed-translation input:focus {
  background-color: #555;
}

.score-container,
.time-container {
  position: absolute;
  top: 60px;
  font-size: 1rem;
}

.score-container {
  right: 20px;
}

.time-container {
  left: 20px;
}

.end-game-container {
  background-color: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

/* Listen and Write */
#listen-write {
  color: #5b6467;
}

#listen-write .hidden-eng-word {
  visibility: hidden;
}

#listen-write .guees-result {
  display: none;
}

#listen-write .listen-icon {
  cursor: pointer;
  color: #5b6467;
  transition: all 0.2s ease-in;
}

#listen-write .listen-icon:hover {
  transform: scale(1.2);
}

#listen-write input[type='text'] {
  padding-left: 1rem;
  border-radius: 4px;
  color: #5b6467;
  text-shadow: none;
  margin-right: 1rem;
  border-color: #333;
}

#listen-write button {
  color: #5b6467;
  font-weight: 500;
  border-radius: 4px;
  border-color: #333;
}
#listen-write button:hover {
  box-shadow: 0px 0px 4px 1px #b4b2b2;
  /* transform: translate(1px, 1px); */
  transform: scale(1.005);
}

.no-words-modal {
  position: absolute;
  top: 0;
  width: 400px;
  left: 50%;
  transform: translate(-50%, -120%);
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  z-index: 10001;
  transition: transform 0.2s ease-in;
}

.no-words-modal.no-words {
  transform: translate(-50%, 40%);
}

.no-words-container {
  border-radius: 10px;
  padding: 0.5rem;
}
